<div class = 'container'>
	<div class = 'row'>
		<div class = 'jumbotron text-center'>
			<h1>Eat-Da-Burger</h1>
		</div>
	</div>
	<div class = 'row'>
		<div class = 'col-md-2 col-md-offset-4'>
			<h3>Burgers to Eat</h3>
			<ul class = 'uneaten'>
				{{#each burger}}
					{{#unless this.devoured}}
						<li>
							<h4>{{this.burger_name}}</h4>
							<form action="/{{this.id}}?_method=PUT" method="POST">
								<input type="hidden" name="sleepy" value="true">
								<button type="submit">Eat</button>
							</form>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class = 'col-md-2'>
			<h3>Eaten Burgers</h3>
			<ul class = 'eaten'>
				{{#each burger}}
					{{#if this.devoured}}
						<li>
							<h4>{{this.burger_name}}</h4>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class = 'row'>
		<div class = 'container'>
			<h2 class = 'text-center'>Create a Burger</h2>
			<form class="create-update-form text-center">
				<div class="form-group text-c">
					<label for="burger">Burger:</label>
					<input placeholder="Enter a name" id="burger-name" type="text"/>
				</div>
				<button type="submit" class='burgerButton'>Add Burger</button>
			</form>
		</div>
	</div>
</div>